main {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#recentposts {
  padding: 8px 20px;
  background-color: #ffffff;
  grid-column: 1 / -2;
  grid-row: 1 / -1;
}

aside {
  background-color: #ffffff;
  grid-column: -2 / -1;
  grid-row: 1 / -1;
}

aside #profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside #profile img#mypic {
  padding: 20px 20px;
}

aside #info {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media(max-width: 768px) {
  main {
    grid-template-rows: minmax(400px, auto) minmax(100px, auto);
  }

  #recentposts {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  aside {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  aside #profile img#mypic {
    padding: 10px 10px;
  }

  aside #profile span {
    padding-bottom: 10px;
  }
}

@media(max-width: 500px) {
  aside {
    flex-direction: column;
  }

  aside #info {
    padding-bottom: 20px;
  }
}