main {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#recentposts {
  padding: 8px 20px;
  background-color: #ffffff;
  grid-column: 1 / -2;
  grid-row: 1 / -1;
}

aside {
  background-color: #ffffff;
  grid-column: -2 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
}

aside img {
  margin: 0 auto;
}

@media(max-width: 768px) {
  main {
    grid-template-rows: minmax(400px, auto) minmax(100px, auto);
  }

  #recentposts {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  aside {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    flex-direction: row;
    align-items: center;
  }
}

@media(max-width: 500px) {
  aside {
    flex-direction: column;
  }
}