* {
  margin: 0;
  padding: 0;
}

html {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #ededed;
  margin: 2.5rem auto;
  max-width: 1024px;
}

.container {
  display: grid;
  grid-template: 150px minmax(500px, 1fr) minmax(250px, auto) 50px / repeat(12, 1fr);
  gap: 10px;
}

.container > header {
  background-color: #ffffff;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

header img {
  padding: 25px 25px;
}

main {
  grid-column: 1 / -1;
  grid-row: 2 / -3;
}

#othersections {
  grid-column: 1 / -1;
  grid-row: 3 / -2;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

footer {
  background-color: #ffffff;
  grid-column: 1 / -1;
  grid-row: 4 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px), (max-width: 1023px) {
  .container {
    grid-template: 150px minmax(500px, 1fr) minmax(200px, auto) 50px / repeat(2, 1fr);
  }

  main {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  footer {
    grid-column: 1 / -1;
    grid-row: 4 / -1;
  }
}

@media (max-width: 500px) {
  .container {
    grid-template: minmax(200px, auto) minmax(500px, 1fr) minmax(200px, auto) 50px / 1fr;
  }

  .container > header {
    display: flex;
    flex-direction: column;
  }

  main {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  #othersections {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: grid;
    grid-template: repeat(3, minmax(100px, auto)) / 1fr;
  }

  footer {
    grid-column: 1 / -1;
    grid-row: 4 / -1;
  }
}
